* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 1rem;
    color: #046f99;
    background-color: #fde7e0;
    position: relative; 
    top: 10vh;
    font-family: 'BioRhyme', serif;
    
}

h1 {
    /* color: #f53940; */
    font-size: 3rem;
    font-weight: 800;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;;
}

em {
    color:crimson;
}

/* nav bar */

nav {
    position: fixed;
    width: 100%;
    background: #fde7e0; 
    height: 11vh;
    top:0;
    left:0;
    z-index: 10;
    background: #046f99;
    
    
}

nav ul {
    
    display: flex;
    justify-content:center;
    align-items:center;
    padding-top: 1rem;
}

nav a {
    padding: 2rem;
    color: #fde7e0;
    
}
/*  */

#welcome-section {
    height: 100vh;
    display: flex;
}

.info {
    padding: 2rem;
    font-size: 1.3rem;
}

.foto {
    height: 100vh;
}

h1 {
    
}
